<div>
    Click on Any Number
	<span style="width: 20px;" ng-repeat="key in numberArray">
	  <button ng-click="numberClick(key)" id="{{ key }}" >{{ key }}</button>
	</span>
</div>

<br /><br />

<div>
    Click on Any Operation
	<span style="width: 20px;" ng-repeat="key in operationArray">
	  <button ng-click="operationClick(key)" id="{{ key.value }}" >{{ key.sign }}</button>
	</span>
</div>

<div>
    <button ng-click="equalClick()" id="equal" >=</button>
</div>

<div>Result:   {{ totalValue }}</div>


<div ></div>
